/* General */
:root {
    --link-color: darkblue;
    --white: #FEFEFE;
    --code-background: rgb(232, 232, 232);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a.active {
    background-color: var(--link-color);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: serif;
    background-color: var(--white);
}

code, pre {
    background-color: var(--code-background);
    padding: 1px;
}

h3 {
    margin-top: 5%;
}

/* Desktop */
@media only screen and (min-width: 800px) {

    /* Grid */
    div#container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
                '. .... . .... .'
                '. name . .... .'
                '. navi . main .'
                '. navi . main .'
                '. navi . main .'
                '. navi . main .'
                '. .... . .... .';
        grid-template-rows: 1% 20% 20% 3% auto auto 2%;
        grid-template-columns: 2% 20% 1% auto 2%;
    }

    div#name {
        max-height: 100%;
        grid-area: name;
    }

    div#main {
        max-width: 98%;
        grid-area: main;
    }

    div#navigation {
        grid-area: navi;
        margin-top: 20px;
    }

    nav#primary {
        margin-top: 20px;
        font-size: 22px;
        display: block;
    }

    nav#secondary {
        margin-top: 40px;
        font-size: 18px;
        display: block;
    }

    nav#tertiary {
        margin-top: 40px;
        font-size: 14px;
        display: block
    }

    nav a {
        display: block;
    }
}


/* Mobile devices */
@media only screen and (max-width: 800px) {

    /* Grid */
    div#container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
                '. .... .... .'
                '. name navi .'
                '. main main .'
                '. .... .... .';
        grid-template-rows: 1% 25% auto 1%;
        grid-template-columns: 2% 25% auto 2%;
    }

    div#main {
        max-width: 98%;
        grid-area: main;
        font-size: 12px;
    }

    div#name {
        grid-area: name;
    }

    div#navigation {
        margin-left: 50px;
        grid-area: navi;
    }

    nav#primary {
        margin-top: 30px;
        display: block;
        font-size: 22px;
    }

    nav#secondary{
        margin-top: 20px;
        display: block;
        font-size: 18px;
    }

    nav#tertiary{
        margin-top: 20px;
        display: block;
        font-size: 14px;
    }

    nav a {
        margin-left: 1%;
    }
}

