/* General */
:root {
    --link-color: darkblue;
    --white: #FEFEFE;
    --code-background: rgb(242, 242, 242);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a.active {
    background-color: var(--link-color);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

body {
    overflow-x: hidden;
    font-family: serif;
    background-color: var(--white);
}

code, pre {
    background-color: var(--code-background);
    padding: 1px;
}


h3 {
    margin-top: 5%;
}

a {
    padding: 2px;
}

div.main {
    max-width: 95%;
}

img {
    max-width: 100%;
}

p {
    max-width: 95%;
}

pre {
    tab-size: 2;
    white-space: pre-wrap;
    max-width: 95%;
}

/* Desktop */
@media only screen and (min-width: 800px) {

    /* Grid */
    div#container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
                '. .... . .... .'
                '. name . .... .'
                '. navi . main .'
                '. navi . main .'
                '. navi . main .'
                '. navi . main .'
                '. .... . .... .';
        grid-template-rows: 1% 15% auto auto auto 2%;
        grid-template-columns: 2% 20% 1% auto 2%;
    }

    div#name {
        max-height: 100%;
        grid-area: name;
    }

    div#main {
        font-size: 17px;
        grid-area: main;
    }

    div#navigation {
        grid-area: navi;
        margin-top: 20px;
    }

    nav#primary {
        margin-top: 20px;
        font-size: 24px;
        display: block;
    }

    nav#secondary {
        margin-top: 40px;
        font-size: 20px;
        display: block;
    }

    nav#tertiary {
        margin-top: 40px;
        font-size: 16px;
        display: block
    }
    code, pre {
        font-size: 14px;
    }

    h4 {
        font-size: 20px;
    }

    nav a {
        display: block;
    }
}


/* Mobile devices */
@media only screen and (max-width: 800px) {

    /* Grid */
    div#container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
                '. .... .... .'
                '. name navi .'
                '. main main .'
                '. .... .... .';
        grid-template-rows: 1% 120px auto 1%;
        grid-template-columns: 2% 150px auto 2%;
    }

    div#main {
        grid-area: main;
        font-size: 14px;
    }

    div#name {
        grid-area: name;
    }

    div#navigation {
        margin-left: 20px;
        grid-area: navi;
    }

    nav#primary {
        margin-top: 20px;
        display: block;
        font-size: 20px;
    }

    nav#secondary{
        margin-top: 10px;
        display: block;
        font-size: 16px;
    }

    nav#tertiary{
        margin-top: 10px;
        display: block;
        font-size: 12px;
    }

    nav a {
        margin-left: 1%;
    }
}

