:root {
    --primary: rgb(0, 0, 128);
    --white: #FEFEFE;
    --black: black;
    --code-background: #f0927f;
    --font-family: Georgia, 'Times New Roman', Times, serif;
    --max-width: min(94%, 600px);
    --spread: 1;
    --scale: 1;
}

/* Sections */
html {
    display: flex;
    justify-content: center;
}

body {
    font-family: var(--font-family);
    max-width: var(--max-width);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: calc(var(--spread) * 2em) 0;
    justify-self: flex-start;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: calc(var(--spread) * 2em) 40px;
    font-size: calc(var(--scale) * 1.2em);
}

footer {
    width: 100%;
}

/* Header */
header a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    text-underline-offset: calc(var(--spread) * 6px);
}

header a:hover, header a.active {
    color: var(--black);
    background-color: var(--white);
    text-decoration: underline var(--primary) calc(var(--scale) * 3px);
}

header nav a {
    padding: calc(var(--spread) * 3px);
    font-size: calc(var(--scale) * 1.2em);
}

header h1 {
    text-align: center;
    color: var(--black);
    line-height: calc(var(--spread) * 1.4em);
    font-size: calc(var(--scale) * 2.1em);
    padding: calc(var(--spread) * 4px);
}

/* Main */
main a {
    text-decoration: none;
    color: var(--primary);
}

main a:visited {
    color: var(--primary);
}

main a:hover{
    text-underline-offset: calc(var(--spread) * 4px);
    text-decoration: underline var(--primary) calc(var(--scale) * 2px);
}

/* Elements */
figure {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

figure img {
    margin: 0;
    width: auto;
    max-width: 100%;
}

code {
    font-size: calc(var(--scale) * 0.9em);
}

pre code {
    display: block;
    padding: 20px;
    background-color: var(--code-background);
    overflow: scroll;
    text-overflow: normal;
    opacity: 0.8;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}